﻿{% extends "layout.html" %}

{% block content %}
<div class="photo_album_head">
    <h1>Fox Photo Album</h1>
    <p>Illay Sasson</p>
</div>

<div class="photo_album">
    <table align="center">
        <tr id="photoalbum_tr">
            <th id="photoalbum_tr"><img src="../static/images/whitefox.jpg" width="300" height="200"></th>
            <th id="photoalbum_tr"><img src="../static/images/redfox.jpg" width="300" height="200"></th>
            <th id="photoalbum_tr"><img src="../static/images/grayfox.jpg" width="300" height="200"></th>
        </tr>
        <tr>
            <th id="photoalbum_tr"><img src="../static/images/anotherfox.jpg" width="300" height="200"></th>
            <th id="photoalbum_tr"><img src="../static/images/fennecfox.jpg" width="300" height="200"></th>
            <th id="photoalbum_tr"><img src="../static/images/batearedfox.jpg" width="300" height="200"></th>
        </tr id ="photoalbum_tr">
        </d
    </table>
</div>
{% endblock %}